@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}
.gradient-text {
  background: linear-gradient(45deg, #ffb84d, #ff6600, #ff0000, #ff6600, #ffb84d);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 2s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

